assets/*
connectors/*
setup/*
index.php
ht.access
core/cache/*
core/components/*
core/config/*
core/docs/*
core/error/*
core/ht.access
core/import/*
core/lexicon/*
core/model/*
core/xpdo/*
core/packages/core/*
core/packages/core.transport.zip
core/packages/formit-2.2.0-pl
core/packages/gallery-1.5.2-pl
core/packages/gallery-1.5.2-pl
core/packages/getresourcefield-1.0.3-pl
core/packages/getresources-1.6.0-pl
core/packages/include-1.0-pl
core/packages/phpthumbof-1.4.0-pl
core/packages/tinymce-4.3.3-pl
core/packages/wayfinder-2.3.3-pl
config.core.php
manager/*